<div class="row">
  <div class="col-md-12">
    <p>
      <strong>Patient:</strong>
      <%= @patient.name %>
    </p>
  </div>
</div>

<div class="row" id="exam-row" data-point_po_x="<%= @exam.point_po.x %>" data-point_po_y="<%= @exam.point_po.y %>" 
    data-point_or_x="<%= @exam.point_or.x %>" data-point_or_y="<%= @exam.point_or.y %>" data-point_n_x="<%= @exam.point_n.x %>" data-point_n_y="<%= @exam.point_n.y %>"
    data-point_a_x="<%= @exam.point_a.x %>" data-point_a_y="<%= @exam.point_a.y %>">
  <div class="col-md-2">
    Point Po <br> <%= "x: #{@exam.point_po.x}, y: #{@exam.point_po.y}" %>
  </div>
  <div class="col-md-2">
    Point Or <br> <%= "x: #{@exam.point_or.x}, y: #{@exam.point_or.y}" %>
  </div>
  <div class="col-md-2">
    Point N <br> <%= "x: #{@exam.point_n.x}, y: #{@exam.point_n.y}" %>
  </div>
  <div class="col-md-2">
    Point A <br> <%= "x: #{@exam.point_a.x}, y: #{@exam.point_a.y}" %>
  </div>
  <div class="col-md-2">
    Angle <br> <%= @exam.maxillary_depth_angle %>
  </div>
</div>

<div class="row">
  <div class="col-md-12" data-view3d='wrapper'>
    <div id="container" class="d-flex justify-content-center mt-3 mb-3"></div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="actions">
      <%= link_to 'Back', patient_path(@patient), class: "btn btn-secondary" %>
    </div>
  </div>
</div>
